@using BusinessServices.Services
@using DTO.LifePoint
@inject ILifePointService _lifePointService

@if (_lifePoint is not null)
{
    <h2>@_lifePoint.Caption</h2>
    <p>On @_lifePoint.Date with @_lifePoint.CreatedBy</p>
    <p>@_lifePoint.Description</p>
}

@code {

    private ExistingLifePoint? _lifePoint;

    [Parameter]
    public string? Id { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Id)) { return; }

        _lifePoint = await _lifePointService.GetLifePointAsync(Guid.Parse(Id));

        await base.OnInitializedAsync();
    }

}