@using BusinessServices.Services
@using DTO
@inject ILifePointService _lifePointService

<h1>LifePointDetail</h1>

@if (_lifePoint is not null)
{
    <h1>@_lifePoint.Caption</h1>
}

@code {

    private ExistingLifePoint? _lifePoint;

    [Parameter]
    public Guid Id { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _lifePoint = await _lifePointService.GetLifePointAsync(Id);

        await base.OnInitializedAsync();
    }

}