@using BusinessServices.Services
@using DTO.Location
@using DTO.Person
@implements IAsyncDisposable
@inject IJSRuntime _jsRuntime
@inject ILifePointService _lifePointService
@inject IPersonService _personService
@inject IUserService _userService

@if (!_userService.UserAlreadySet)
{
    <UserDialog OnClose="OnUserDialogClose"/>
}
<div>
    @if (false)
    {
        @if (_distinctCreators.Any())
        {
            <label for="distinctCreator">Created by: </label>
            <select id="distinctCreator" @onchange="SelectedCreatorChanged">
                @foreach (var (id, name) in _distinctCreators)
                {
                    <option value="@id">@name</option>
                }
            </select>
        }
        @if (_distinctYears.Any())
        {
            <label for="distinctYear">Created in: </label>
            <select id="distinctYear" @onchange="SelectedYearChanged">
                @foreach (var distinctYear in _distinctYears)
                {
                    <option value="@distinctYear">@distinctYear</option>
                }
            </select>
        }
    }
</div>

<div id="mapid"></div>

@code {

    // Will be initialized on startup
#pragma warning disable 8618
    private IJSObjectReference _mapModule;
    private IJSObjectReference _newLifePointModule;
    private IJSObjectReference _lifePointDetailModule;
    private IJSObjectReference _leafletMap;
#pragma warning restore 8618
    private IReadOnlyList<ExistingLocation> _allLocations = new List<ExistingLocation>();
    private DotNetObjectReference<Map>? _objRef;
    private IEnumerable<ExistingPerson> _distinctCreators = new List<ExistingPerson>();
    private IEnumerable<int> _distinctYears = new List<int>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await InitializeMapAsync(_objRef);
            await AddMarkersForExistingLocationsAsync();
        }
    }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();

        _distinctCreators = _lifePointService.GetDistinctCreators();
        _distinctYears = _lifePointService.GetDistinctYears();
    }

    [JSInvokable]
    public async Task OpenPopupForNewLifePointAsync(double latitude, double longitude) =>
        await _newLifePointModule.InvokeVoidAsync("createPopupForNewLifePoint", _objRef, _leafletMap, latitude, longitude);

    [JSInvokable]
    public async Task AddMarkerAsync(Guid id, double latitude, double longitude) =>
        await _lifePointDetailModule.InvokeVoidAsync("createMarkerForExistingLifePoint", _leafletMap, id, latitude, longitude);

    private async Task InitializeMapAsync(DotNetObjectReference<Map> dotNetObjectReference)
    {
        _mapModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Map.razor.js");
        _leafletMap = await _mapModule.InvokeAsync<IJSObjectReference>("initializeMap", 51.0405849, 13.7478431, 20, dotNetObjectReference);

        _newLifePointModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/NewLifePoint.razor.js");
        _lifePointDetailModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/LifePointDetail.razor.js");
    }

    private async Task AddMarkersForExistingLocationsAsync()
    {
        foreach (var (latitude, longitude, id) in _lifePointService.GetAllLocations()) await AddMarkerAsync(id, latitude, longitude);
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
    // TODO mu88: Check if disposing is necessary with .NET 6 as it causes errors an app shutdown

    // ReSharper disable once ConditionIsAlwaysTrueOrFalse
    // Due to unknown reasons, this method will be called before _module could be loaded.
    // Maybe it is related to the preview nature of .NET 6
        if (_mapModule is not null) { await _mapModule.DisposeAsync(); }
        _objRef?.Dispose();
    }

    private void SelectedCreatorChanged(ChangeEventArgs args)
    {
    // TODO mu88: Redraw
    }

    private void SelectedYearChanged(ChangeEventArgs args)
    {
    // TODO mu88: Redraw
    }

    private void OnUserDialogClose() => StateHasChanged();

}