@using BusinessServices.Services
@using Microsoft.Extensions.Options
@using Persistence
@inject IJSRuntime JsRuntime
@inject ILifePointService LifePointService
@inject IOptions<MapOptions> MapOptions
@inject IPersonService PersonService
@inject IUserService UserService
@inject IStringLocalizer<Main> Loc
@inject ILogger<Map> Logger

@if (!UserService.UserAlreadySet)
{
    <UserDialog OnClose="OnUserDialogClose"/>
}

<div id="mapid"></div>