@using BusinessServices.Services
@using DTO.LifePoint
@inject ILifePointService _lifePointService
@inject IPersonService _personService
@inject IJSRuntime _jsRuntime

<EditForm Model="@_newLifePoint" OnValidSubmit="@CreateNewLifePointAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <label for="caption">Caption</label>
    <InputText id="caption" @bind-Value="_newLifePoint.Caption"/>
    <label for="description">Description</label>
    <InputText id="description" @bind-Value="_newLifePoint.Description"/>
    <label for="image">Image</label>
    <InputFile id="image" OnChange="@LoadImage" accept=".jpg,.jpeg,.png"/>

    <button type="submit">Submit</button>
</EditForm>

@code {

    private readonly NewLifePointModel _newLifePoint = new();
    private IJSObjectReference _newLifePointModule; // TODO mu88: Dispose module
    private IBrowserFile? _file;

    [Parameter]
    public double Latitude { get; set; }

    [Parameter]
    public double Longitude { get; set; }

    private async Task CreateNewLifePointAsync()
    {
        var imageToCreate = _file != null ? new ImageToCreate(_file.Name, _file.OpenReadStream()) : null;
        var lifePointToCreate = new LifePointToCreate(DateOnly.FromDateTime(DateTime.Now), _newLifePoint.Caption, _newLifePoint.Description, Latitude, Longitude, _personService.GetAllPersons().First().Id, imageToCreate);

        var createdLifePoint = await _lifePointService.CreateLifePointAsync(lifePointToCreate);

        await RemovePopupAsync();
        await AddMarkerAsync(createdLifePoint);
    }

    private async Task RemovePopupAsync() => await _newLifePointModule.InvokeVoidAsync("removePopupForNewLifePoint");

    private async Task AddMarkerAsync(ExistingLifePoint existingLifePoint) => await _newLifePointModule.InvokeVoidAsync("addMarkerForCreatedLifePoint", existingLifePoint.Id, existingLifePoint.Latitude, existingLifePoint.Longitude);

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await LoadNewLifePointModuleAsync();

        await base.OnInitializedAsync();
    }

    private async Task LoadNewLifePointModuleAsync() => _newLifePointModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/NewLifePoint.razor.js");

    private void LoadImage(InputFileChangeEventArgs args) => _file = args.File;

}