@using Persistence
@using WebApp.Models
@inject IUserService UserService
@inject IStringLocalizer<Main> Loc

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Loc["Welcome"]!</h4>
            </div>
            <div class="modal-body">
                <EditForm Model="@_userModel" OnValidSubmit="@HandleValidSubmitAsync">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="input-group">
                        <span class="input-group-text">@Loc["PleaseEnterUsername"]</span>
                        <InputText class="form-control" @bind-Value="_userModel.Name"/>
                        <button class="btn btn-outline-secondary" type="submit">OK</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public EventCallback OnClose { get; set; }

    private UserModel _userModel = new();

    private async Task HandleValidSubmitAsync()
    {
        await UserService.SetUserAsync(_userModel.Name);
        await OnClose.InvokeAsync();
    }
}